{% extends "base.html" %}
{% block content %}
<div class=container>

	<div class=jumbotron>
		<h1>Database Query Test</h1>
		<p>This page shows the authenticated result of the query: <code>{{query}}</code></p>
		<p>Its not very interesting from an application perspective, but it is a powerful
		demonstration considering that the password to access this database is dynamically
		created is not stored on the web server and has a short lifespan</p>
	</div>
	<div class=row>
		<div class="col col-md-2"></div>
		<div class="col col-md-8">
			<table class="table table-striped">
				<thead>
				{% for field_name in field_names %}
					<th>{{field_name}}</th>
				{% endfor %}
				<thead>
				<tbody>
				{% for record in data %}
					<tr>
						{% for element in record %}
							<td>{{ element }}</td>
						{% endfor %}
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
		<div class="col col-md-2"></div>
	</div>
{% endblock %}
