{
    "terraform": {
        "backend": {
            "s3": {
                "bucket": "BUCKET_NAME", 
                "key": "KEY_NAME", 
                "region": "REGION"
            }
        }
    }
}
